In [1]:
import numpy as np
import csv
import os
import math
import random
import pandas as pd
import matplotlib.pyplot as plt
random.seed(42)
np.random.seed(42)

In [2]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from statistics import mean
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [3]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.neural_network import MLPClassifier

In [4]:
from sklearn import linear_model

In [12]:
file_path= os.path.expanduser('~/EE219/hw4/insurance_data.csv')
df=pd.read_csv(file_path, sep=',',header='infer')

In [13]:
df

      ft1     ft2  ft3     ft4  ft5        ft6      charges
0      19  27.900    0  female  yes  southwest  16884.92400
1      18  33.770    1    male   no  southeast   1725.55230
2      28  33.000    3    male   no  southeast   4449.46200
3      33  22.705    0    male   no  northwest  21984.47061
4      32  28.880    0    male   no  northwest   3866.85520
5      31  25.740    0  female   no  southeast   3756.62160
6      46  33.440    1  female   no  southeast   8240.58960
7      37  27.740    3  female   no  northwest   7281.50560
8      37  29.830    2    male   no  northeast   6406.41070
9      60  25.840    0  female   no  northwest  28923.13692
10     25  26.220    0    male   no  northeast   2721.32080
11     62  26.290    0  female  yes  southeast  27808.72510
12     23  34.400    0    male   no  southwest   1826.84300
13     56  39.820    0  female   no  southeast  11090.71780
14     27  42.130    0    male  yes  southeast  39611.75770
15     19  24.600    1    male   no  southwest   1837.23700
16     52  30.780    1  female   no  northeast  10797.33620
17     23  23.845    0    male   no  northeast   2395.17155
18     56  40.300    0    male   no  southwest  10602.38500
19     30  35.300    0    male  yes  southwest  36837.46700
20     60  36.005    0  female   no  northeast  13228.84695
21     30  32.400    1  female   no  southwest   4149.73600
22     18  34.100    0    male   no  southeast   1137.01100
23     34  31.920    1  female  yes  northeast  37701.87680
24     37  28.025    2    male   no  northwest   6203.90175
25     59  27.720    3  female   no  southeast  14001.13380
26     63  23.085    0  female   no  northeast  14451.83515
27     55  32.775    2  female   no  northwest  12268.63225
28     23  17.385    1    male   no  northwest   2775.19215
29     31  36.300    2    male  yes  southwest  38711.00000
...   ...     ...  ...     ...  ...        ...          ...
1308   25  30.200    0  female  yes  southwest  33900.65300
1309   41  32.200    2    male   no  southwest   6875.96100
1310   42  26.315    1    male   no  northwest   6940.90985
1311   33  26.695    0  female   no  northwest   4571.41305
1312   34  42.900    1    male   no  southwest   4536.25900
1313   19  34.700    2  female  yes  southwest  36397.57600
1314   30  23.655    3  female  yes  northwest  18765.87545
1315   18  28.310    1    male   no  northeast  11272.33139
1316   19  20.600    0  female   no  southwest   1731.67700
1317   18  53.130    0    male   no  southeast   1163.46270
1318   35  39.710    4    male   no  northeast  19496.71917
1319   39  26.315    2  female   no  northwest   7201.70085
1320   31  31.065    3    male   no  northwest   5425.02335
1321   62  26.695    0    male  yes  northeast  28101.33305
1322   62  38.830    0    male   no  southeast  12981.34570
1323   42  40.370    2  female  yes  southeast  43896.37630
1324   31  25.935    1    male   no  northwest   4239.89265
1325   61  33.535    0    male   no  northeast  13143.33665
1326   42  32.870    0  female   no  northeast   7050.02130
1327   51  30.030    1    male   no  southeast   9377.90470
1328   23  24.225    2  female   no  northeast  22395.74424
1329   52  38.600    2    male   no  southwest  10325.20600
1330   57  25.740    2  female   no  southeast  12629.16560
1331   23  33.400    0  female   no  southwest  10795.93733
1332   52  44.700    3  female   no  southwest  11411.68500
1333   50  30.970    3    male   no  northwest  10600.54830
1334   18  31.920    0  female   no  northeast   2205.98080
1335   18  36.850    0  female   no  southeast   1629.83350
1336   21  25.800    0  female   no  southwest   2007.94500
1337   61  29.070    0  female  yes  northwest  29141.36030

[1338 rows x 7 columns]

In [14]:
def gender_to_num(days):
    convert = {'female': 0, 'male': 1}    
    num = []
    for i in range(0, len(days)):
        num.append(convert[days[i]])
    return num
def ft5_to_num(days):
    convert = {'yes': 0, 'no': 1}    
    num = []
    for i in range(0, len(days)):
        num.append(convert[days[i]])
    return num
def ft6_to_num(days):
    convert = {'southwest': 0, 'southeast': 1, 'northwest': 2, 'northeast': 3}    
    num = []
    for i in range(0, len(days)):
        num.append(convert[days[i]])
    return num

In [15]:
df['ft4'] =gender_to_num(df['ft4'])
df['ft5']=ft5_to_num(df['ft5'])
df['ft6']=ft6_to_num(df['ft6'])

In [26]:
df_y=df['charges']
df=df.drop(['charges'], axis = 1)

In [81]:
df_enc=df.drop(['ft1','ft2','ft3'], axis = 1)
enc = OneHotEncoder()
enc.fit(df_enc)
df_enc=enc.transform(df_enc).toarray()
df_enc.shape

F:\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

(1338, 8)

In [82]:
df_num=df.drop(['ft4','ft5','ft6'], axis = 1)

In [83]:
df_enc=np.append(df_num,df_enc, axis=1)

In [84]:
print(df_enc.shape)

(1338, 11)

In [86]:
df_enc

array([[19.  , 27.9 ,  0.  , ...,  0.  ,  0.  ,  0.  ],
       [18.  , 33.77,  1.  , ...,  1.  ,  0.  ,  0.  ],
       [28.  , 33.  ,  3.  , ...,  1.  ,  0.  ,  0.  ],
       ...,
       [18.  , 36.85,  0.  , ...,  1.  ,  0.  ,  0.  ],
       [21.  , 25.8 ,  0.  , ...,  0.  ,  0.  ,  0.  ],
       [61.  , 29.07,  0.  , ...,  0.  ,  1.  ,  0.  ]])

In [85]:
kf = KFold(n_splits=10,random_state=42,shuffle=True)
RMSE_train=[]
RMSE_test=[]
for train_index, test_index in kf.split(df):
    X_train= df_enc[train_index]
    y_train= df_y.loc[train_index]
    X_test= df_enc[test_index]
    y_test= df_y.loc[test_index]
#     print(X_train)
#     print(y_train)
    reg = LinearRegression()
    reg.fit(X_train, y_train)
    pred_train = reg.predict(X_train)
    pred_test = reg.predict(X_test)
    RMSE_train.append(mean_squared_error(y_train, pred_train))
    RMSE_test.append(mean_squared_error(y_test, pred_test))
print('RMSE for train data=',mean(RMSE_train))
print('RMSE for test data=',mean(RMSE_test))

RMSE for train data= 36474866.324134715
RMSE for test data= 37020264.84006275