# Question 14

In [11]:
import json
import datetime,time
import pytz
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from statistics import mean
import time

In [12]:
train_path = "../../projects/project_5/ECE219_tweet_data/"

train_files = ["tweets_#gohawks.txt", "tweets_#gopatriots.txt", \
        "tweets_#nfl.txt", "tweets_#patriots.txt", \
        "tweets_#sb49.txt", "tweets_#superbowl.txt"]
topics = ["gohawks", "gopatriots", "nfl", "patriots", "sb49", "superbowl"]

In [13]:
test_path = "../../projects/project_5/ECE219_tweet_test/"

test_files = [["sample0_period1.txt", "sample0_period2.txt", "sample0_period3.txt"], \
              ["sample1_period1.txt", "sample1_period2.txt", "sample1_period3.txt"], \
              ["sample2_period1.txt", "sample2_period2.txt", "sample2_period3.txt"]]

#### Prepare for data

In [14]:
def transfer_time(data_raw,time_type):
    """
    Given UNIX time stored in data_raw["time"], return either hour index or minute index
    and store in "time" depending on the period require.
    """
    pst_tz = pytz.timezone('America/Los_Angeles')
    
    # sort according to time
    pddata_raw = pd.DataFrame(data_raw,columns=['time','tweets','retweets','followers','mentioned',\
                                                'media','active','author','favourites_count','title'])
    pddata_raw = pddata_raw.sort_values(by = 'time')
    pddata_raw = pddata_raw.reset_index(drop=True)               

    # calculate hour index and minute index from time
    if time_type == 'hour':
        hour_accu = []
        for index, row in pddata_raw.iterrows():  
            p = datetime.datetime.fromtimestamp(row['time'], pst_tz)  
            hour_accu.append(((p.month-1)*31+p.day-14)*24+p.hour)                             
        pddata_raw['time'] = hour_accu
    elif time_type == 'minute':
        minu_accu = []
        for index, row in pddata_raw.iterrows():  
            p = datetime.datetime.fromtimestamp(row['time'], pst_tz)                    
            minu_accu.append((((p.month-1)*31+p.day-14)*24 + (p.hour-0))*12 + p.minute//5)             
        pddata_raw['time'] = minu_accu    
    else:
        print("Invalid time type")
        
    return pddata_raw

In [35]:
def six_times_window(df,df_y):
    m=df.shape[0]
    df_new= pd.DataFrame(np.zeros((m-4,10)),columns=['tweets','retweets','followers sum','followers max',\
                                  'mentioned','media','active','author','favourites_count','title'])
    df_y_new= pd.DataFrame(np.zeros((m-4)),columns=['num'])
    for i in range(m-4):
        
        for j in range(9):
            df_new.iloc[i,j]=df.iloc[i,j]+df.iloc[i+1,j]+df.iloc[i+2,j]+df.iloc[i+3,j]+df.iloc[i+4,j]
        j=3
        df_new.iloc[i,3]=np.max([df.iloc[i,j],df.iloc[i+1,j],df.iloc[i+2,j],df.iloc[i+3,j],df.iloc[i+4,j]])
        j=6
        df_new.iloc[i,j]=(df.iloc[i,j]*df.iloc[i,7]+df.iloc[i+1,j]*df.iloc[i+1,7]+df.iloc[i+2,j]*df.iloc[i+2,7]+df.iloc[i+3,j]*df.iloc[i+3,7]+df.iloc[i+4,j]*df.iloc[i+4,7])/(df.iloc[i,7]+df.iloc[i+1,7]+df.iloc[i+2,7]+df.iloc[i+3,7]+df.iloc[i+4,7])
        j=9
        df_new.iloc[i,j]=(df.iloc[i,j]*df.iloc[i,0]+df.iloc[i+1,j]*df.iloc[i+1,0]+df.iloc[i+2,j]*df.iloc[i+2,0]+df.iloc[i+3,j]*df.iloc[i+3,0]+df.iloc[i+4,j]*df.iloc[i+4,0])/(df.iloc[i,0]+df.iloc[i+1,0]+df.iloc[i+2,0]+df.iloc[i+3,0]+df.iloc[i+4,0])
        df_y_new.iloc[i,0]=df_y.iloc[i+4]
    
    return df_new, df_y_new

In [16]:
def generate_df(pddata_raw):
    """
    Create a new dataframe with desired form
    """
    df = pd.DataFrame([],columns=['time unit','tweets','retweets','followers sum','followers max',\
                                  'mentioned','media','active','author','favourites_count','title'])
    
    col = pddata_raw.columns.get_loc('time')
    df['time unit'] = range(int(pddata_raw.iloc[len(pddata_raw.index)-1,col] - pddata_raw.iloc[0,col]+1))

    df['tweets'] = pddata_raw.groupby("time")['tweets'].sum()
    df['retweets'] = pddata_raw.groupby("time")['retweets'].sum()
    df['followers sum'] = pddata_raw.groupby("time")['followers'].sum()
    df['followers max'] = pddata_raw.groupby("time")["followers"].max()
    df['mentioned'] = pddata_raw.groupby("time")['mentioned'].sum()
    df['media'] = pddata_raw.groupby("time")['media'].sum()
    df['active'] = pddata_raw.groupby("time")['active'].mean()  
    df['author'] = pddata_raw.groupby("time")['author'].nunique() # count number of not-repeating authors    
    df['favourites_count'] = pddata_raw.groupby("time")['favourites_count'].sum()
    df['title'] = pddata_raw.groupby("time")['title'].mean()
            
    # reset index of df
    df = df.fillna(0).reset_index(drop=True)
    
    return df

In [17]:
def parse_dataset(path,files):
    """
    Parse x conponent of the dataset into pandas DataFrame including columns of:
    tweets, retweets, total_followers, max_followers, mentioned, media, active, author, favourites_count, title
    with lines of hours,
    where mentioned: number of @ in tweets per hour
          media: number of url in tweets per hour
          active: a measure of active state of author
          author: number of unique authors post tweet per hour
          favourites_count: the total number of likes by this user
          title: length of this tweet's title
    Parse y of dataset as number of tweets in the next hour.
    """
    start_time = time.mktime(time.strptime("2015-02-01 08:00:00",'%Y-%m-%d %H:%M:%S'))
    end_time = time.mktime(time.strptime("2015-02-01 20:00:00",'%Y-%m-%d %H:%M:%S'))   

    start_hour_idx = ((2-1)*31+1-14)*24+8
    end_hour_idx = ((2-1)*31+1-14)*24+20
    start_minute_idx = (((2-1)*31+1-14)*24 + (8-0))*12 + 0//5    
        
    # extract raw features
    data_raw = [[],[],[]]
    for file in files:
        for line in open(path + file, 'r') :
            row_tmp = []
            a = json.loads(line)
            citation_date = a['citation_date']
            tweet = 1
            retweet = a['metrics']['citations']['total']
            foll = a['author']['followers']             
            ment = len(a['tweet']['entities']['user_mentions'])        
            medi = len(a['tweet']['extended_entities']['media']) if 'extended_entities' in a['tweet'] else 0
            hist_tw = a['tweet']['user']["statuses_count"]
            hist_yr = a['tweet']['user']['created_at'][-4:]
            acti = hist_tw/(2015-float(hist_yr)+1) 
            auth = a['author']['name']
            favo = a['tweet']['user']['favourites_count']
            titl = len(a['title'])

            # append to row_tmp
            row_tmp.append(citation_date)        
            row_tmp.append(tweet)        
            row_tmp.append(retweet)
            row_tmp.append(foll)    
            row_tmp.append(ment) 
            row_tmp.append(medi) 
            row_tmp.append(acti)  
            row_tmp.append(auth)
            row_tmp.append(favo)
            row_tmp.append(titl)

            # assign to 3 periods
            if citation_date < start_time:
                data_raw[0].append(row_tmp)
            elif citation_date < end_time:
                data_raw[1].append(row_tmp)
            else:
                data_raw[2].append(row_tmp)            

    # generate raw pandas dataframe
    pddata_raw_1 = transfer_time(data_raw[0],'hour')
    pddata_raw_1['time'] = pddata_raw_1['time'] - pddata_raw_1.loc[0,'time']
    
    pddata_raw_2 = transfer_time(data_raw[1],'minute')
#     pddata_raw_2['time'] = pddata_raw_2['time'] - start_minute_idx
    pddata_raw_2['time'] = pddata_raw_2['time'] - pddata_raw_2.loc[0,'time']

    pddata_raw_3 = transfer_time(data_raw[2],'hour')
#     pddata_raw_3['time'] = pddata_raw_3['time'] - end_hour_idx - 1    
    pddata_raw_3['time'] = pddata_raw_3['time'] - pddata_raw_3.loc[0,'time']
    print('1',pddata_raw_1)
    
    # generate df and df_y for each time slot
    df_1 = generate_df(pddata_raw_1)  
    df_y_1 = df_1.iloc[1:,1].reset_index(drop=True)
    df_1 = df_1[:len(df_y_1)]
    print('2',df_1)
    
    df_2 = generate_df(pddata_raw_2)
    df_y_2 = df_2.iloc[1:,1].reset_index(drop=True)
    df_2 = df_2[:len(df_y_2)]
   
    df_3 = generate_df(pddata_raw_3)
    df_y_3 = df_3.iloc[1:,1].reset_index(drop=True)
    df_3 = df_3[:len(df_y_3)]
    
    return (df_1.iloc[:,1:],df_y_1), (df_2.iloc[:,1:],df_y_2), (df_3.iloc[:,1:],df_y_3)

#### Train model with aggregated data, test model with test files

In [18]:
def train_lr(train_path, train_files):
    """
    This function gets train data and train using a linear regression model
    """    
    (df_1,df_y_1),(df_2,df_y_2),(df_3,df_y_3) = parse_dataset(train_path, train_files)

    df_1, df_y_1  =six_times_window(df_1,df_y_1)
    df_2, df_y_2  =six_times_window(df_2,df_y_2)
    df_3, df_y_3  =six_times_window(df_3,df_y_3)

    reg_1 = LinearRegression().fit(df_1, df_y_1)
    reg_2 = LinearRegression().fit(df_2, df_y_2)
    reg_3 = LinearRegression().fit(df_3, df_y_3)
    
    return (reg_1, reg_2, reg_3)

In [19]:
def test_lr(test_path, test_file, regs):
    """
    This function gets test data and test with a linear regression model
    """    
    reg_1, reg_2, reg_3 = regs
    
    (df_1,df_y_1),(df_2,df_y_2),(df_3,df_y_3) = parse_dataset(test_path, test_file)
    print('3 ',df_1)
    
    df_1, df_y_1  =six_times_window(df_1,df_y_1)
    df_2, df_y_2  =six_times_window(df_2,df_y_2)
    df_3, df_y_3  =six_times_window(df_3,df_y_3)
    
    pred_y_1 = reg_1.predict(df_1)     
    real_y_1 = df_y_1.iloc[-1]
    print("time period 1 true tweet: ",real_y_1, " predicted tweet: ",pred_y_1)

    pred_y_2 = reg_2.predict(df_2)     
    real_y_2 = df_y_2.iloc[-1]
    print("time period 2 true tweet: ",real_y_2, " predicted tweet: ",pred_y_2)

    pred_y_3 = reg_3.predict(df_3)     
    real_y_3 = df_y_3.iloc[-1]
    print("time period 3 true tweet: ",real_y_3, " predicted tweet: ",pred_y_3)

## Results

In [38]:
df_y_1

0    180
1    202
2    294
3    555
4    846
Name: tweets, dtype: int64

In [39]:
df_1

,tweets,retweets,followers sum,followers max,mentioned,media,active,author,favourites_count,title
0,203,526,509311.0,104627.0,131,47,7574.478421,188,416661,101.295567
1,180,269,1676912.0,959176.0,69,33,9592.529702,169,336201,101.105556
2,202,382,3434565.0,1813823.0,88,52,7200.795914,196,389427,99.059406
3,294,549,2182170.0,372800.0,119,64,3730.383688,286,495565,97.564626
4,555,906,4242856.0,945273.0,241,118,5234.146475,514,1004865,96.052252

In [40]:
df_1, df_y_1  =six_times_window(df_1,df_y_1)
df_1

,tweets,retweets,followers sum,followers max,mentioned,media,active,author,favourites_count,title
0,1434.0,2632.0,12045814.0,1813823.0,648.0,314.0,6070.758673,1353.0,2642719.0,98.162483

In [37]:
(df_1,df_y_1),(df_2,df_y_2),(df_3,df_y_3) = parse_dataset(test_path, test_files[1])

1       time  tweets  retweets  followers  mentioned  media         active  \
0        0       1         1      387.0          0      0     145.000000
1        0       1         1       96.0          0      1    7488.000000
2        0       1         1     1768.0          0      0     924.000000
3        0       1         1        0.0          0      0    1158.000000
4        0       1         2    54469.0          1      1   14011.833333
5        0       1         1      359.0          1      0     511.750000
6        0       1         1      751.0          0      0     122.600000
7        0       1         1        0.0          0      0    1159.000000
8        0       1         1      572.0          0      0      78.333333
9        0       1         1     4064.0          0      0    6412.000000
10       0       1         1        9.0          0      0      13.000000
11       0       1         1     3010.0          0      0    1691.000000
12       0       1         1     1519.0          0      0    3409.857143
13       0       1         1      869.0          0      0    1895.285714
14       0       1         1     3322.0          0      0    1217.142857
15       0       1         2    71721.0          0      1    1448.000000
16       0       1         2      185.0          0      0     511.333333
17       0       1         1      564.0          0      0   11903.000000
18       0       1         2      284.0          0      0     362.000000
19       0       1         1      350.0          0      0    1455.800000
20       0       1         1       59.0          0      0     246.500000
21       0       1         1       42.0          0      0    2137.666667
22       0       1         1       63.0          1      0      46.200000
23       0       1         1      316.0          0      0     539.000000
24       0       1         1       96.0          0      0     524.250000
25       0       1         1       96.0          0      0     525.500000
26       0       1         1     1588.0          0      0    1687.000000
27       0       1         1     2801.0          1      1   39040.333333
28       0       1         1     2460.0          0      0   17028.800000
29       0       1         1      769.0          0      0  105578.000000
...    ...     ...       ...        ...        ...    ...            ...
2250     5       1         2     5297.0          0      0    3494.000000
2251     5       1         1      825.0          2      0     536.833333
2252     5       1         1      232.0          0      1     980.666667
2253     5       1         1       28.0          0      1     139.666667
2254     5       1         1      371.0          1      1    1567.750000
2255     5       1         1      878.0          0      0     572.800000
2256     5       1         1      872.0          0      1     978.000000
2257     5       1         1      311.0          0      0     288.000000
2258     5       1         1      874.0          1      1    1051.000000
2259     5       1         1      345.0          0      0    1003.285714
2260     5       1         1       23.0          0      0     111.714286
2261     5       1         1     1540.0          0      0    1060.222222
2262     5       1         1      468.0          0      0    1209.000000
2263     5       1         1      350.0          1      0     838.000000
2264     5       1         1      428.0          0      0     311.000000
2265     5       1         1      313.0          1      0     519.250000
2266     5       1         1       12.0          0      0      27.000000
2267     5       1         1      189.0          3      0     109.666667
2268     5       1         2       78.0          0      1     328.000000
2269     5       1         1      164.0          0      0     234.800000
2270     5       1         1       68.0          0      0      58.750000
2271     5       1         1       15.0          0      0      69.000000
2272     5       1         1      147.0          0      1      23.000000
2273     5       1         1     7626.0          2      0     632.285714
2274     5       1         3      874.0          2      0    2430.500000
2275     5       1         1    55000.0          0      0    4218.857143
2276     5       1         1      189.0          0      0   31492.500000
2277     5       1         1      101.0          0      0      91.750000
2278     5       1         1      494.0          0      0     866.500000
2279     5       1         1       20.0          0      0      48.000000

                    author  favourites_count  title
0             Active Herts               135    138
1            WordLink #NFL                 0    110
2          Juliet Ann Love               189    129
3                 Dan Daly                 0    140
4               Moni Boyce             35565     97
5              Gavin McCoy              1109     69
6           Susanna Sisson                38    131
7                 Dan Daly                 0    140
8                    Marco                67     45
9                Vegaster®               127    143
10            Patrick Marr                 7     78
11      The Brees Brothers             23237     31
12       Michelle Kassorla               950     71
13                 Candace              2887     78
14              Sean Green              6860    104
15          Ahmad AbouAmmo              5192     46
16        Felix zur Nieden               419    130
17           Myriam _Bozak                 0    122
18              A&J Sports                69    137
19            Aubree Barry              1479     47
20                    Koji                70     80
21        James Baron Lang               631     90
22          Cristian Cruz                 19     84
23             TwerkOnline                 0     69
24          Teresa Johnson                 4     39
25          Teresa Johnson                 4     39
26        We're overdosing              1049     46
27                 Garrett             65295     85
28           Hot Trend Now                 0     85
29          Sports Gangsta                 0     98
...                    ...               ...    ...
2250     MIKEY PLS| Abbyyy             17043     32
2251           Edward Ford                84     65
2252      Michelle Hoffman              1415     83
2253           sunday paul                29     57
2254          Alex O'Brien              5608    127
2255        Norman Karkada                36    126
2256        C♥Jayhawk♥7273              2632     70
2257          Mike Quintas               857    148
2258                DJOVEN               867    138
2259           Shyam Patel              2991     21
2260     Leina Jayne Douka                12    121
2261  the.effing.librarian                96    138
2262       Hockeypicks.com                 3    113
2263                Austin                22    100
2264         Ethen Johnson                90     50
2265               MUN-E!!               202     55
2266          Jacob Wagner                 8    114
2267                 Warp☮                45     56
2268           Amaryllis                 105     93
2269       Philip Rafferty                80    125
2270                   Bex                 6     65
2271          spank_styles               102    121
2272          Hannah Hodge                22    110
2273        Ahmad Ktaech⚡️               951    116
2274          Mato Fajardo               146    111
2275            David Bain                28    140
2276              Owlo Owl                 0    131
2277            Will Paget               135     26
2278       Andrew Plastino              1432     25
2279     It's Cake By Gina                 0    138

[2280 rows x 10 columns]
2    time unit  tweets  retweets  followers sum  followers max  mentioned  \
0          0     203       526       509311.0       104627.0        131
1          1     180       269      1676912.0       959176.0         69
2          2     202       382      3434565.0      1813823.0         88
3          3     294       549      2182170.0       372800.0        119
4          4     555       906      4242856.0       945273.0        241

   media       active  author  favourites_count       title
0     47  7574.478421     188            416661  101.295567
1     33  9592.529702     169            336201  101.105556
2     52  7200.795914     196            389427   99.059406
3     64  3730.383688     286            495565   97.564626
4    118  5234.146475     514           1004865   96.052252

In [41]:
regs = train_lr(train_path, train_files)
for file in test_files:
    test_lr(test_path, file, regs)

1         time  tweets  retweets  followers  mentioned  media        active  \
0          0       1         1      145.0          0      0  39730.500000
1          0       1         1     3050.0          0      0  15845.800000
2          0       1         3     3457.0          0      0   3888.200000
3          0       1         2    10658.0          0      0  44001.666667
4          0       1         1      570.0          3      0   5590.285714
5          0       1         1      833.0          0      1  64033.333333
6          0       1         2       85.0          2      1     40.500000
7          0       1         3      120.0          0      1    515.750000
8          0       1         1      331.0          0      0  34966.500000
9          0       1         1      166.0          0      0  21115.500000
10         0       1         1      785.0          0      0  12732.500000
11         0       1         1     2794.0          0      0  17870.750000
12         0       1         1     2693.0          0      0  15148.800000
13         0       1         1     1176.0          0      0  22346.000000
14         0       1         1     1175.0          0      0  45392.000000
15         0       1         1     3853.0          3      0  45715.333333
16         0       1         1     3310.0          0      0  38356.375000
17         0       1         1      165.0          0      0  20040.000000
18         0       1         1      165.0          0      0  20042.000000
19         0       1         1      419.0          1      0   1672.200000
20         0       1         2       39.0          0      1   1922.500000
21         0       1         1       20.0          3      0      2.000000
22         0       1         1       17.0          1      0     71.500000
23         0       1         1     1495.0          0      0  28835.800000
24         0       1         1     1495.0          0      0  28835.800000
25         0       1         1     1495.0          0      0  28835.800000
26         0       1         1      331.0          0      0  34970.000000
27         0       1         1      331.0          0      0  34970.000000
28         0       1         1       69.0          1      0    275.333333
29         0       1         3    10658.0          0      0  44002.333333
...      ...     ...       ...        ...        ...    ...           ...
603703   439       1         1      324.0          1      0   1239.000000
603704   439       1         3     2678.0          0      0   1002.666667
603705   439       1         1    14975.0          0      0   7045.000000
603706   439       1         1      517.0          0      1   3446.428571
603707   439       1         4     2799.0          2      1    616.200000
603708   439       1         1       21.0          3      0     15.000000
603709   439       1         4     2799.0          2      1    616.200000
603710   439       1         1      517.0          0      1   3446.428571
603711   439       1         1      199.0          0      0    856.800000
603712   439       1         2      437.0          1      1    174.714286
603713   439       1         1     2313.0          0      1    446.500000
603714   439       1         1        8.0          0      0     44.500000
603715   439       1         1      146.0          0      0    336.000000
603716   439       1         5     1470.0          0      0    352.000000
603717   439       1         1     1563.0          2      0  18964.750000
603718   439       1         1     1621.0          0      0   1777.600000
603719   439       1         1      185.0          3      0   4131.333333
603720   439       1         1       12.0          0      0     14.000000
603721   439       1         1     4121.0          0      0  35675.714286
603722   439       1         1      278.0          0      0    690.000000
603723   439       1         1      927.0          1      1   2821.250000
603724   439       1         1     3721.0          2      0    501.875000
603725   439       1         2     8811.0          1      0   2277.500000
603726   439       1         1     3324.0          1      0    459.000000
603727   439       1         1     1428.0          0      0   1621.500000
603728   439       1         1       75.0          0      0    376.714286
603729   439       1         1      121.0          0      0    300.833333
603730   439       1         1      208.0          0      0    716.666667
603731   439       1         1      148.0          0      0    266.200000
603732   439       1         1      117.0          1      1    255.166667

                      author  favourites_count  title
0             KC Chiefs News                 0     97
1           Brigette _Rardon                 0    131
2           Girls-Sport-Talk                52    118
3                        NFL                 0    136
4       Nathan Santo Domingo              6277     78
5              tweet-eye.com                33    125
6               Jorge Melero                13    127
7              Jenny Carboni              1109    143
8       Philadelphia Nquirer                 0    138
9       TeH pHiLaDeLpHIa iNq                 0    109
10      Seattle Seahawks Fan                 0    135
11         Rafael Nadal Fans                 0    133
12         Green Bay Packers                 0    134
13        Nicole Kidman Fans                 0    110
14         Hawks Nation, Yes                 0    138
15          Doyl L Watson II             34935    143
16             Bert Fentress               105    129
17              Joey Millard                 0    136
18              Joey Millard                 0    136
19              Will Njuguna               875     43
20            Birdz Eye Zone                12    137
21              Mattia Sambo                 0     66
22              Ben Richards                 2     51
23               Kim Jackson                 2    115
24               Kim Jackson                 2    115
25               Kim Jackson                 2    115
26      Philadelphia Nquirer                 0    115
27      Philadelphia Nquirer                 0    115
28              Amanda Clark              2105     49
29                       NFL                 0    136
...                      ...               ...    ...
603703        Milan Harrison              4740    117
603704       FantasyAces.com               704    105
603705          Laura Cope✌️               966     41
603706   MIGUEL MAGALLANES Z              1176     96
603707   Westwood One Sports               560    137
603708  Route15 Beverage Exp                 0    139
603709   Westwood One Sports               560    137
603710   MIGUEL MAGALLANES Z              1176     96
603711               Jc Cook               750     21
603712         Chris Shovlin               327    143
603713     Christine Laemmel               110     66
603714      Bonnie MacDougal                12    137
603715     Discovery Map HVL                 1     49
603716              AFPounce                 0    103
603717   Maria Elena Flores              21772    140
603718    BB-BUSINESS BUREAU                 0     72
603719            RayWash***              4393     88
603720       Harry's Bad Hat                10    140
603721            King Amusa              2374     69
603722       Michael Orobona               139    127
603723      إبتسام تسكت عشقي              1545    139
603724          thunder tech                95    132
603725           SciAm Blogs                86    142
603726       Curtis Brainard               115    142
603727         TecHome Kelly               226     52
603728                Sandra              3299     53
603729            AjaxRunner                13     89
603730          Brad LaSalle               140     58
603731                    AG               425    110
603732          Bob Albright               127    116

[603733 rows x 10 columns]

2      time unit  tweets  retweets  followers sum  followers max  mentioned  \
0            0     111       714       223405.0        41818.0         45
1            1      89       663       187317.0        19558.0         25
2            2     110       640      1657090.0      1362401.0         30
3            3     100       267       165256.0        19558.0         25
4            4     137       468       444858.0        65150.0         77
5            5     169       346       683834.0       104412.0         58
6            6     215       580       993090.0       105750.0        120
7            7     353      1054      1694989.0       174922.0        148
8            8     569      3224      5685647.0      1300862.0        273
9            9     533      1982      1838262.0       358231.0        253
10          10     529      1127      4111731.0       811823.0        243
11          11     545      1928      3703322.0      1608967.0        256
12          12     525       858      3429457.0       651531.0        249
13          13     628      1424      4985408.0      1265184.0        361
14          14     611      2279      1789472.0       118210.0        289
15          15     675      1644      1496979.0       320334.0        231
16          16     260       512       875756.0        94513.0        152
17          17     255       414      2563954.0      1265345.0        146
18          18     234       592      1620935.0       563343.0        110
19          19     342       877      3403853.0      1031791.0        177
20          20     402       947      1740081.0       358231.0        191
21          21     334       441       488871.0        24906.0        109
22          22     258      4399       365911.0        50314.0         97
23          23     119       158       197199.0        30539.0         48
24          24      88       119       952816.0       195149.0         32
25          25     275       404      3744035.0      3305624.0         36
26          26     155       176       228582.0        32212.0         18
27          27     173       203       411592.0        76932.0         36
28          28     336       483      1015212.0       148356.0         67
29          29     160       327       869166.0       260968.0         80
..         ...     ...       ...            ...            ...        ...
409        409     294       411      3868622.0      1554323.0        134
410        410     249       465     14434201.0      6052617.0         95
411        411     282      3819      4499321.0      1554323.0         95
412        412     376      1258     20933396.0      5883066.0        170
413        413     524      1331     20359648.0      5883066.0        277
414        414     709      1329     20316157.0      2697285.0        396
415        415     916      2474     19748097.0      2401241.0        455
416        416    1111      3588     55722793.0      6052617.0        647
417        417    1260      2750     38753252.0      7494438.0        594
418        418    1328      3753     57007941.0      9617680.0        744
419        419    1187      5815     65446389.0      9617680.0        682
420        420    1617      4211     50353220.0      9617680.0        867
421        421    1434      7979     87036464.0      9617680.0        822
422        422    1573      4169     49530858.0      6052617.0        915
423        423    1470      7877     53754105.0      5030514.0        881
424        424    3974      9568     71985388.0     10167262.0       1917
425        425    4934     12444     65096588.0      6461338.0       2347
426        426    4864     11531     49669132.0      4522237.0       2216
427        427    2369      6689     41725359.0      4749700.0       1238
428        428    3729     10070     43155097.0      5044065.0       1808
429        429    3318     15586     52359126.0      6151054.0       1291
430        430    3031     11588     35816098.0      6052623.0       1079
431        431    2143      6497     35978537.0      6052623.0        829
432        432    2013     11118     37144894.0      9617680.0        834
433        433    2173      6624     21925118.0      6052623.0       1254
434        434    2265      4300     40332453.0      6052623.0        830
435        435    2506      4674     22179781.0      6052623.0        949
436        436    3265      8015     49036845.0      6052623.0       1451
437        437    5788     21652     82273460.0      9617680.0       2751
438        438    9024     23183    101115911.0     12007049.0       4113

     media        active  author  favourites_count       title
0       14  16495.717600      68            169019  107.738739
1       23  14668.183788      63            126515  114.955056
2       20  18070.444596      68            219997  118.100000
3       14  15166.468933      66             96787  118.460000
4       18  11300.612887      96            164014  111.883212
5       42   9554.832580     123            287280  109.940828
6       31  12048.686973     153            404620  113.497674
7       70   9638.152579     249            458927  110.623229
8      124   8468.132369     380            997841  110.543058
9       84   9120.673946     350            761197  110.024390
10      94   8455.083060     328            691479  112.637051
11      94   9106.105762     386            951531  113.809174
12      88   9348.714348     352            865455  111.455238
13     107   9041.679787     419            870708  106.522293
14      85   7685.469590     362            643100  105.407529
15      72  11522.757663     416           1075630  110.183704
16      56   9624.248269     197            489493  104.942308
17      49   8123.019448     200            598264  105.533333
18      52   8330.534341     161            415306  113.829060
19      70   7653.855350     247            538512  104.093567
20      80   9945.096775     240            472627  106.631841
21      56  10131.319144     156            285735  103.661677
22      47   8675.573034     158            226513  103.430233
23      32  14767.039046      81            167297  115.285714
24      25  19304.387816      54            114632  121.034091
25      31  11723.924952     203            102597  128.963636
26      16  11844.214508      92             30971  119.006452
27      31  19296.554576     125            120343  118.560694
28      32   8750.381993     279            290001  122.625000
29      36  10853.988854     131            240814  113.543750
..     ...           ...     ...               ...         ...
409     73   7681.230057     201            492578  109.431973
410     52   8016.166574     194            198398  107.140562
411     68   9193.850101     206            354290  108.893617
412    106   7726.938108     280            773999  110.640957
413    149   7080.155047     390            656088  111.055344
414    163   6298.220483     527           1142517  110.399154
415    257   5406.249411     729           1503389  110.611354
416    301   4460.835886     916           1844568  110.421242
417    377   4897.321674     998           1500596  110.829365
418    324   4832.600215    1015           2985323  110.899096
419    400   4287.686797     939           2226957  109.877843
420    536   3955.939127    1253           3008304  109.047001
421    485   3876.018637    1107           2137267  109.830544
422    499   4134.496326    1132           2666465  110.240941
423    551   4530.631201    1116           2774615  108.483673
424   1066   5216.722507    2693           5882877  107.245596
425   1070   5662.588543    3113           7317494  106.772801
426   1072   5497.020588    3007           6117590  104.877673
427    534   5425.894465    1628           3834782  104.216547
428    811   6067.006620    2428           4732136  104.081791
429    762   7061.208815    2029           5272041  104.444846
430    805   5650.843948    1836           4842776  103.912240
431    479   6534.150881    1367           3290358  103.004666
432    407   6244.946804    1336           4017897   94.968207
433    501   6656.403883    1404           3416133   99.936954
434    426   7229.916383    1451           2520756  102.659161
435    563   5147.416315    1751           3060037   99.256584
436    682   4439.346717    2325           5398542   99.580092
437   1165   4215.015552    4021          10295270   98.855909
438   2057   3862.135844    6428          15304241   98.540004

[439 rows x 11 columns]

1      time  tweets  retweets  followers  mentioned  media         active  \
0       0       1         1    98191.0          0      1    2715.428571
1       0       1         1      158.0          0      0    2385.250000
2       0       1         1      370.0          0      2     302.400000
3       0       1         2     6549.0          3      0    1987.142857
4       0       1         1      187.0          1      0    1324.000000
5       0       1         1     1352.0          0      0    2804.500000
6       0       1         1    18722.0          0      0     633.666667
7       0       1         2     1427.0          1      0    2031.428571
8       0       1         1      617.0          0      1     229.000000
9       0       1         3      213.0          1      1     608.200000
10      0       1         2      213.0          1      1     608.200000
11      0       1         1     3331.0          1      0    3434.125000
12      0       1         1      835.0          0      0     224.428571
13      0       1         1     2073.0          0      0     570.250000
14      0       1         1      157.0          0      1     228.500000
15      0       1         1       19.0          0      0     293.000000
16      0       1         1     1470.0          0      0  112861.250000
17      0       1         1      106.0          0      0     427.500000
18      0       1         1      215.0          0      0    1234.000000
19      0       1         1      189.0          0      0   30248.500000
20      0       1         1      333.0          0      0    5424.400000
21      0       1        33    41959.0          0      1    1750.000000
22      0       1         4   168371.0          0      0    6062.375000
23      0       1         1       63.0          0      0     244.000000
24      0       1         7     6492.0          0      0    2159.714286
25      0       1         1     5452.0          0      0    1147.285714
26      0       1         4     2053.0          5      0    1785.200000
27      0       1         1     5421.0          1      0    3468.142857
28      0       1         1       43.0          0      1      44.500000
29      0       1         1     1306.0          0      0     440.800000
..    ...     ...       ...        ...        ...    ...            ...
538     5       1         1        2.0          0      0   13980.000000
539     5       1         1      818.0          2      0    2835.714286
540     5       1         1      396.0          0      0    1926.000000
541     5       1         5      475.0          2      1    2819.500000
542     5       1         1      651.0          0      1     639.500000
543     5       1         1     3139.0          0      0    3008.500000
544     5       1         1      245.0          0      1   37577.000000
545     5       1         1     3351.0          0      0   16355.800000
546     5       1         1     1603.0          0      0     195.200000
547     5       1         1      495.0          0      0    1694.166667
548     5       1         1    11657.0          0      0    3858.666667
549     5       1         1       82.0          1      0     409.500000
550     5       1         1      715.0          1      1    4301.250000
551     5       1         1      495.0          1      0    1694.166667
552     5       1         1      123.0          0      0     314.000000
553     5       1         1      370.0          0      0      56.125000
554     5       1         1     1183.0          0      0     284.250000
555     5       1         1      143.0          1      0     570.200000
556     5       1         1      330.0          0      0     102.666667
557     5       1         1      106.0          1      0    5836.000000
558     5       1         1     1407.0          1      0     633.833333
559     5       1         1      270.0          2      1     615.600000
560     5       1         2      577.0          0      0    5268.600000
561     5       1         2      535.0          0      0     293.500000
562     5       1         1      755.0          2      0    2485.000000
563     5       1         4     2099.0          1      1    1107.333333
564     5       1         1    33767.0          1      1    2629.857143
565     5       1         1      125.0          1      0    1449.750000
566     5       1         1      548.0          0      0   12844.000000
567     5       1         1      121.0          0      0     706.800000

                   author  favourites_count  title
0                Lumia UK              1536    140
1            Netizen Nick              4662    129
2    #VSFSCasting fav/web                58     85
3      antoinette antonio              1622    138
4       reddit NFL Tweets                 2    139
5        Seattle Seahawks                 0    104
6          ÜberStrategist               237     97
7            Craig Milroy                 7    138
8           Jerry Freeman                 9    128
9           Kelly Fincher                29    134
10          Kelly Fincher                29    134
11      KindergartenRocks               275    123
12          CPAC Columbia                20    126
13             ChetTheDog               153    133
14    Z's Cafe & Catering                 1    138
15   Kamal Mukkamala (MK)                10     51
16      @jeisbontecnology              1137     59
17                   Matt               352     63
18    Shopulator Products               379    130
19               Owlo Owl                 0    123
20         Sean Gallagher                21    139
21        Masshole Sports               226    137
22       CBS This Morning               724    102
23              D.J.'s II                56    131
24      Croatia Exclusive                 0    119
25             Fox School               671    139
26     Happy Hour Network              1736    140
27                US103.5                35    117
28         Old Town Quito               103    134
29             max hansen               145    112
..                    ...               ...    ...
538              Dan Daly                 0    139
539      Ashley Tomlinson              4457     86
540          Danny Boy 3D              4739     62
541          Lengua Larga                29    137
542               32 SHEA                65     82
543     homes in virginia                 1    127
544     Investing Insight                 1    127
545   San Francisco 49ers                 0    122
546     Pauli's North End                59    120
547        Houston Texans                 0    105
548  Im The God of Terror                 2     99
549   THEHANDICAPPERFORUM                13    139
550    Chance James Jones              2726    108
551        Houston Texans                 0    114
552           Corbin Toll               440     49
553           Lisa Waters               256     72
554       ChargersFanTalk               771     71
555     Kellen Nascimento               898    118
556    Jonathan Georgeson                85    112
557  TheMercerStreetHouse               378    138
558          Albert Aydin              1426    139
559             Eliza G-F              6991     77
560                   Ben              3838     82
561                  Lara               160    101
562       Sheena Yap Chan               189    131
563               thirsty             11440    135
564          brandchannel             22245    135
565                 ❀ⓁⒾⓈⒶ               125    124
566  Amanda Melrose David               850     61
567         Kelvin Loyola               788    110

[568 rows x 10 columns]
2    time unit  tweets  retweets  followers sum  followers max  mentioned  \
0          0      52       109       424498.0       168371.0         21
1          1      79       761      2975692.0      2034387.0         61
2          2      94       226       860594.0       328882.0         40
3          3     101       258      2349147.0       368626.0         49
4          4     122       483      1369748.0       291130.0         80

   media       active  author  favourites_count       title
0     17  4700.167720      50             44780  117.365385
1     29  6995.513442      70             84073  112.531646
2     30  4183.942693      91            178277  114.191489
3     34  4893.906436     100            112814  108.891089
4     36  5226.047307     121            304343  112.409836
3     tweets  retweets  followers sum  followers max  mentioned  media  \
0      52       109       424498.0       168371.0         21     17
1      79       761      2975692.0      2034387.0         61     29
2      94       226       860594.0       328882.0         40     30
3     101       258      2349147.0       368626.0         49     34
4     122       483      1369748.0       291130.0         80     36

        active  author  favourites_count       title
0  4700.167720      50             44780  117.365385
1  6995.513442      70             84073  112.531646
2  4183.942693      91            178277  114.191489
3  4893.906436     100            112814  108.891089
4  5226.047307     121            304343  112.409836
time period 1 true tweet:  num    120.0
Name: 0, dtype: float64  predicted tweet:  [[771.09643964]]
time period 2 true tweet:  num    1123.0
Name: 0, dtype: float64  predicted tweet:  [[12527.89459793]]
time period 3 true tweet:  num    87.0
Name: 0, dtype: float64  predicted tweet:  [[91.61453782]]

1       time  tweets  retweets  followers  mentioned  media         active  \
0        0       1         1      387.0          0      0     145.000000
1        0       1         1       96.0          0      1    7488.000000
2        0       1         1     1768.0          0      0     924.000000
3        0       1         1        0.0          0      0    1158.000000
4        0       1         2    54469.0          1      1   14011.833333
5        0       1         1      359.0          1      0     511.750000
6        0       1         1      751.0          0      0     122.600000
7        0       1         1        0.0          0      0    1159.000000
8        0       1         1      572.0          0      0      78.333333
9        0       1         1     4064.0          0      0    6412.000000
10       0       1         1        9.0          0      0      13.000000
11       0       1         1     3010.0          0      0    1691.000000
12       0       1         1     1519.0          0      0    3409.857143
13       0       1         1      869.0          0      0    1895.285714
14       0       1         1     3322.0          0      0    1217.142857
15       0       1         2    71721.0          0      1    1448.000000
16       0       1         2      185.0          0      0     511.333333
17       0       1         1      564.0          0      0   11903.000000
18       0       1         2      284.0          0      0     362.000000
19       0       1         1      350.0          0      0    1455.800000
20       0       1         1       59.0          0      0     246.500000
21       0       1         1       42.0          0      0    2137.666667
22       0       1         1       63.0          1      0      46.200000
23       0       1         1      316.0          0      0     539.000000
24       0       1         1       96.0          0      0     524.250000
25       0       1         1       96.0          0      0     525.500000
26       0       1         1     1588.0          0      0    1687.000000
27       0       1         1     2801.0          1      1   39040.333333
28       0       1         1     2460.0          0      0   17028.800000
29       0       1         1      769.0          0      0  105578.000000
...    ...     ...       ...        ...        ...    ...            ...
2250     5       1         2     5297.0          0      0    3494.000000
2251     5       1         1      825.0          2      0     536.833333
2252     5       1         1      232.0          0      1     980.666667
2253     5       1         1       28.0          0      1     139.666667
2254     5       1         1      371.0          1      1    1567.750000
2255     5       1         1      878.0          0      0     572.800000
2256     5       1         1      872.0          0      1     978.000000
2257     5       1         1      311.0          0      0     288.000000
2258     5       1         1      874.0          1      1    1051.000000
2259     5       1         1      345.0          0      0    1003.285714
2260     5       1         1       23.0          0      0     111.714286
2261     5       1         1     1540.0          0      0    1060.222222
2262     5       1         1      468.0          0      0    1209.000000
2263     5       1         1      350.0          1      0     838.000000
2264     5       1         1      428.0          0      0     311.000000
2265     5       1         1      313.0          1      0     519.250000
2266     5       1         1       12.0          0      0      27.000000
2267     5       1         1      189.0          3      0     109.666667
2268     5       1         2       78.0          0      1     328.000000
2269     5       1         1      164.0          0      0     234.800000
2270     5       1         1       68.0          0      0      58.750000
2271     5       1         1       15.0          0      0      69.000000
2272     5       1         1      147.0          0      1      23.000000
2273     5       1         1     7626.0          2      0     632.285714
2274     5       1         3      874.0          2      0    2430.500000
2275     5       1         1    55000.0          0      0    4218.857143
2276     5       1         1      189.0          0      0   31492.500000
2277     5       1         1      101.0          0      0      91.750000
2278     5       1         1      494.0          0      0     866.500000
2279     5       1         1       20.0          0      0      48.000000

                    author  favourites_count  title
0             Active Herts               135    138
1            WordLink #NFL                 0    110
2          Juliet Ann Love               189    129
3                 Dan Daly                 0    140
4               Moni Boyce             35565     97
5              Gavin McCoy              1109     69
6           Susanna Sisson                38    131
7                 Dan Daly                 0    140
8                    Marco                67     45
9                Vegaster®               127    143
10            Patrick Marr                 7     78
11      The Brees Brothers             23237     31
12       Michelle Kassorla               950     71
13                 Candace              2887     78
14              Sean Green              6860    104
15          Ahmad AbouAmmo              5192     46
16        Felix zur Nieden               419    130
17           Myriam _Bozak                 0    122
18              A&J Sports                69    137
19            Aubree Barry              1479     47
20                    Koji                70     80
21        James Baron Lang               631     90
22          Cristian Cruz                 19     84
23             TwerkOnline                 0     69
24          Teresa Johnson                 4     39
25          Teresa Johnson                 4     39
26        We're overdosing              1049     46
27                 Garrett             65295     85
28           Hot Trend Now                 0     85
29          Sports Gangsta                 0     98
...                    ...               ...    ...
2250     MIKEY PLS| Abbyyy             17043     32
2251           Edward Ford                84     65
2252      Michelle Hoffman              1415     83
2253           sunday paul                29     57
2254          Alex O'Brien              5608    127
2255        Norman Karkada                36    126
2256        C♥Jayhawk♥7273              2632     70
2257          Mike Quintas               857    148
2258                DJOVEN               867    138
2259           Shyam Patel              2991     21
2260     Leina Jayne Douka                12    121
2261  the.effing.librarian                96    138
2262       Hockeypicks.com                 3    113
2263                Austin                22    100
2264         Ethen Johnson                90     50
2265               MUN-E!!               202     55
2266          Jacob Wagner                 8    114
2267                 Warp☮                45     56
2268           Amaryllis                 105     93
2269       Philip Rafferty                80    125
2270                   Bex                 6     65
2271          spank_styles               102    121
2272          Hannah Hodge                22    110
2273        Ahmad Ktaech⚡️               951    116
2274          Mato Fajardo               146    111
2275            David Bain                28    140
2276              Owlo Owl                 0    131
2277            Will Paget               135     26
2278       Andrew Plastino              1432     25
2279     It's Cake By Gina                 0    138

[2280 rows x 10 columns]
2    time unit  tweets  retweets  followers sum  followers max  mentioned  \
0          0     203       526       509311.0       104627.0        131
1          1     180       269      1676912.0       959176.0         69
2          2     202       382      3434565.0      1813823.0         88
3          3     294       549      2182170.0       372800.0        119
4          4     555       906      4242856.0       945273.0        241

   media       active  author  favourites_count       title
0     47  7574.478421     188            416661  101.295567
1     33  9592.529702     169            336201  101.105556
2     52  7200.795914     196            389427   99.059406
3     64  3730.383688     286            495565   97.564626
4    118  5234.146475     514           1004865   96.052252
3     tweets  retweets  followers sum  followers max  mentioned  media  \
0     203       526       509311.0       104627.0        131     47
1     180       269      1676912.0       959176.0         69     33
2     202       382      3434565.0      1813823.0         88     52
3     294       549      2182170.0       372800.0        119     64
4     555       906      4242856.0       945273.0        241    118

        active  author  favourites_count       title
0  7574.478421     188            416661  101.295567
1  9592.529702     169            336201  101.105556
2  7200.795914     196            389427   99.059406
3  3730.383688     286            495565   97.564626
4  5234.146475     514           1004865   96.052252
time period 1 true tweet:  num    846.0
Name: 0, dtype: float64  predicted tweet:  [[1310.58284724]]
time period 2 true tweet:  num    903.0
Name: 0, dtype: float64  predicted tweet:  [[8613.90875971]]
time period 3 true tweet:  num    46.0
Name: 0, dtype: float64  predicted tweet:  [[-223.07717743]]

1      time  tweets  retweets  followers  mentioned  media         active  \
0       0       1         1      160.0          0      0     126.000000
1       0       1         1      135.0          0      0     404.750000
2       0       1         1      547.0          1      0     335.500000
3       0       1         1      123.0          1      0     168.750000
4       0       1         1       15.0          0      0      14.000000
5       0       1         1     1400.0          0      0    8654.000000
6       0       1         1      249.0          0      0     704.000000
7       0       1         1        2.0          0      0       4.000000
8       0       1         1      175.0          0      0     470.714286
9       0       1         1      381.0          2      0    2865.000000
10      0       1         1       33.0          0      0      72.000000
11      0       1         1        2.0          0      0       7.500000
12      0       1         1        1.0          0      0       5.250000
13      0       1         1      170.0          0      0    2113.500000
14      0       1         3       72.0          2      0     256.000000
15      0       1         1       30.0          0      0      59.428571
16      0       1         1        6.0          0      0      69.000000
17      0       1         1       50.0          0      0       5.500000
18      0       1         1      321.0          0      0     619.666667
19      0       1         1       13.0          0      0      86.000000
20      0       1         1      168.0          2      0     117.333333
21      0       1         1      546.0          0      0    1772.000000
22      0       1         1        5.0          0      0      19.000000
23      0       1         1       10.0          0      0       6.000000
24      0       1         1      275.0          0      0    1244.200000
25      0       1         1       25.0          0      1      18.000000
26      0       1         1      948.0          0      0    3253.714286
27      0       1         7      867.0          0      0    1697.833333
28      0       1         2      614.0          0      0    1964.142857
29      0       1         1      142.0          0      0      37.000000
..    ...     ...       ...        ...        ...    ...            ...
923     5       1         1      310.0          2      0    3042.666667
924     5       1         1      182.0          0      1    1899.666667
925     5       1         1        2.0          0      0   11870.000000
926     5       1         1       95.0          0      1     641.666667
927     5       1         3      574.0          1      0    2220.500000
928     5       1         1        2.0          0      0   11871.500000
929     5       1         1       26.0          2      0      44.000000
930     5       1         1       13.0          0      0      30.666667
931     5       1         1      115.0          0      0    4541.000000
932     5       1         1      310.0          2      0    3048.000000
933     5       1         1       63.0          0      0     175.333333
934     5       1         1       43.0          0      0     331.285714
935     5       1         1      310.0          2      0    3054.666667
936     5       1         1      137.0          0      1     546.500000
937     5       1         1      781.0          0      0   13489.750000
938     5       1         2     1484.0          0      0    4562.375000
939     5       1         1     2208.0          0      1   12068.333333
940     5       1         1     1084.0          1      0    1282.428571
941     5       1         1        9.0          0      0      33.714286
942     5       1         1        2.0          0      0   11895.000000
943     5       1         1      125.0          0      0     184.555556
944     5       1         1      783.0          0      0   13490.500000
945     5       1         1       43.0          1      0      71.500000
946     5       1         2      201.0          0      0     336.000000
947     5       1         3      211.0          0      1      17.500000
948     5       1         1      742.0          0      0  131676.000000
949     5       1         1        2.0          0      0   11907.000000
950     5       1         1     1542.0          0      0    3387.833333
951     5       1         1     2965.0          0      0   25125.000000
952     5       1         1      904.0          1      0    1012.666667

                   author  favourites_count  title
0             Hotel Cacao                 4     61
1            Lucas Bodine               955    106
2            stacey myers               249    120
3     Bethann Cancellieri               659     81
4            Zoen Kuchler                 8    134
5           Christian Gin                13     46
6             RevisIsland               477     34
7            Gavin Joiner                 0     72
8               Don Trail               191    113
9        Sally A. Buckley              5070    133
10         Joshua Clapper                70     39
11               Cool Man                 1     70
12               mackdady                 1     49
13                    Gus               821    107
14           Issaquah Law                21    140
15      Stephanie Labbate                 5     49
16                 LISTEN                47     96
17           Jenna Maddox                 1     72
18             Josh Silva              2376     55
19                 Tom R.                 7     49
20     RussellWilson#1Fan              1613     67
21    ColonyProudPatsFans                19     57
22            John Graham                 0     77
23                E Gruse                27     45
24             Zak Salant              1430     58
25           Zach Compton                 7     88
26           Solomon Syed              5701    138
27          tonya hammond             10919     61
28            jay svoboda              2975     70
29               BetMayor                 0    137
..                    ...               ...    ...
923         david escobar              1277    126
924         Shane Appling               627    138
925              Dan Daly                 0    139
926  The First Down! #NFL                 1    105
927        Nick Salerno                5403    140
928              Dan Daly                 0    139
929          Drew Vallejo                19    135
930                 Jana                 56    114
931           /r/Seahawks                 0     88
932         david escobar              1278    135
933  George Stefanopoulos               139    140
934                nostrx                 7    109
935         david escobar              1278    130
936                !IAMCJ               782     31
937  Seattle Seahawks Fan                 0    132
938        Kenyatta banks               457     73
939      Ralph M. Sherman              9077    140
940   Belinda's Babblings               345    121
941         James Gregory                 4     87
942              Dan Daly                 0    140
943            Alan Waite               570    139
944  Seattle Seahawks Fan                 0    119
945                 Dale               1362     50
946          Kajun Prince               149    103
947     Hawkaholic12thMan                53     45
948           Pirate News                 0    116
949              Dan Daly                 0    140
950        104.5 The Team               200    134
951           Adele Watch                 0    117
952               Tinitia              8981     89

[953 rows x 10 columns]
2    time unit  tweets  retweets  followers sum  followers max  mentioned  \
0          0     401       540      2975173.0      2288647.0        131
1          1     141       400      1028252.0       519202.0         81
2          2     102       150       143752.0        30580.0         61
3          3     144       241       147110.0        17766.0         90
4          4     104       874      1257257.0       665769.0         51

   media       active  author  favourites_count       title
0     41  3759.814563     372            483190   91.341646
1     22  7465.784079     133            136821  107.007092
2     15  5923.468161      98            168024  106.764706
3     22  6241.786748     138            343688  101.319444
4     19  9626.265923      94            199753   99.701923
3     tweets  retweets  followers sum  followers max  mentioned  media  \
0     401       540      2975173.0      2288647.0        131     41
1     141       400      1028252.0       519202.0         81     22
2     102       150       143752.0        30580.0         61     15
3     144       241       147110.0        17766.0         90     22
4     104       874      1257257.0       665769.0         51     19

        active  author  favourites_count       title
0  3759.814563     372            483190   91.341646
1  7465.784079     133            136821  107.007092
2  5923.468161      98            168024  106.764706
3  6241.786748     138            343688  101.319444
4  9626.265923      94            199753   99.701923
time period 1 true tweet:  num    61.0
Name: 0, dtype: float64  predicted tweet:  [[756.51205279]]
time period 2 true tweet:  num    28.0
Name: 0, dtype: float64  predicted tweet:  [[-659.99257017]]
time period 3 true tweet:  num    43.0
Name: 0, dtype: float64  predicted tweet:  [[174.29682644]]